################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BuildingBlocks/Debug/BuildingBlocks.exe
/BuildingBlocks/Debug/BuildingBlocks.pdb
/BuildingBlocks/Debug/BuildingBlocks.ilk
/BuildingBlocks/BuildingBlocks.sln
/BuildingBlocks/BuildingBlocks/Debug/vc142.pdb
/BuildingBlocks/BuildingBlocks/Debug/vc142.idb
/BuildingBlocks/BuildingBlocks/Debug/selection_scope.obj
/BuildingBlocks/BuildingBlocks/Debug/BuildingBlocks.tlog/link.write.1.tlog
/BuildingBlocks/BuildingBlocks/Debug/BuildingBlocks.tlog/link.read.1.tlog
/BuildingBlocks/BuildingBlocks/Debug/BuildingBlocks.tlog/link.command.1.tlog
/BuildingBlocks/BuildingBlocks/Debug/BuildingBlocks.tlog/CL.write.1.tlog
/BuildingBlocks/BuildingBlocks/Debug/BuildingBlocks.tlog/CL.read.1.tlog
/BuildingBlocks/BuildingBlocks/Debug/BuildingBlocks.tlog/CL.command.1.tlog
/BuildingBlocks/BuildingBlocks/Debug/BuildingBlocks.tlog/BuildingBlocks.lastbuildstate
/BuildingBlocks/BuildingBlocks/Debug/BuildingBlocks.log
/BuildingBlocks/BuildingBlocks/BuildingBlocks.vcxproj.user
/BuildingBlocks/BuildingBlocks/BuildingBlocks.vcxproj.filters
/BuildingBlocks/BuildingBlocks/BuildingBlocks.vcxproj
/BuildingBlocks/.vs/BuildingBlocks/v16/ipch/AutoPCH/1e0f3f262b4d2b29/SELECTION_SCOPE.ipch
/BuildingBlocks/.vs/BuildingBlocks/v16/Browse.VC.opendb
/BuildingBlocks/.vs/BuildingBlocks/v16/Browse.VC.db
/BuildingBlocks/.vs/BuildingBlocks/v16/.suo
