################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BuildingBlocks/Debug/BuildingBlocks.exe
